<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1
        {
            color: white;
        }
        a
        {
            color: white;
            text-decoration: none;
            font-size: 20px;
            margin-left: 20px;
            padding: 5px;

        }
        a:hover
        {
            color: black;
        }
    </style>
</head>
<body bgcolor="purple">
    <a href="/">Home</a> |
    <a href="/insert">Insert</a> |
    <a href="/display">Display</a> |
    <hr size="4" color="black">
    <h1>This is my Home page</h1>

</body>
</html>